fastapi
uvicorn[standard]
python-multipart
pydantic
pandas
numpy
scikit-learn
faiss-cpu
sentence-transformers
transformers
accelerate
openai
langchain
langchain-community
langchain-openai
pinecone-client
open-clip-torch
torch
torchvision
